pydantic
python-dotenv
langchain_community
langchain-openai
langchain-chroma>=0.1.2
langchain_text_splitters
langchain_core
sentence-transformers
chromadb
langchain-huggingface
rank_bm25
pandas
numpy
